html, body {
    height:100%;
}

.box-wrapper{
    display: flex;
    position: absolute;
    width:100%;
    height:100%;
}

.box{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.left{
    animation-name: left;
    animation-duration: 91ms;
    animation-iteration-count: infinite;
}

.left-text{
    display: flex;
    font-size: 50px;
    justify-content: center;
}

.right{
    animation-name: right;
    animation-duration: 59ms;
    animation-iteration-count: infinite;
}

.right-text{
    display: flex;
    font-size: 50px;
    justify-content: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width:50px;
    height: 50px;
}
.center:before, .center:after {position: absolute;left: 0px; bottom:5px ;content:' ';height: 100px;width: 10px;background-color: #000;}
.center:before {transform: rotate(90deg);}
.center:after {transform: rotate(-180deg);}

@keyframes left {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes right {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}