html, body {
    height: 100%;
}

.rest-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.rest-img {
    width: 100%;
    height: 100%;
}

.rest-text{
    position: absolute;
    top: 15%;
    right: 5%;
    font-size: 40px;
    font-family: -미소M;
}