html, body {
    height:100%;
}

.box-wrapper{
    position:absolute;
    left:0;
    width:100%;
    height:100%;
}

.left-top {
    position:absolute;
    top:0;
    left:20%;
    right:50%;
    bottom:50%;
}

.right-top {
    position:absolute;
    top:0;
    left:50%;
    right:0;
    bottom:50%;
}

.left-bottom {
    position:absolute;
    top:50%;
    left:0;
    right:50%;
    bottom:0;
}

.right-bottom {
    position:absolute;
    top:50%;
    left:50%;
    right:0;
    bottom:0;
}

.lt-box{
    position:absolute;
    top:10%;
    left:10%;
    background-color: black;
    width: 100px;
    height: 100px;
    animation-name: lt-box;
    animation-iteration-count: infinite;
    animation-duration: 91ms;
}

.lt-box-center{
    position: absolute;
    top: 50%;
    left: -50%;
    right: 30%;
    font-size: 50px;
}

.rt-box{
    position:absolute;
    top:10%;
    left: 40%;
    right:10%;
    background-color: black;
    width: 100px;
    height: 100px;
    animation-name: rt-box;
    animation-iteration-count: infinite;
    animation-duration: 77ms;
}

.rt-box-center{
    position: absolute;
    top: 50%;
    right: 20%;
    font-size: 50px;
}

.lb-box{
    position:absolute;
    bottom: 30%;
    left:45%;
    background-color: black;
    /* background: linear-gradient(#fb3 50%, #5ba 50%);
    background-size: 100% 30px; */
    width: 100px;
    height: 100px;    
    animation-name: lb-box;
    animation-iteration-count: infinite;
    animation-duration: 66ms;
}

.lb-box-center{
    position: absolute;
    bottom: 50%;
    left: 10%;
    font-size: 50px;
}

.rb-box{
    position:absolute;
    bottom: 30%;
    right:45%;
    background-color: black;
    width: 100px;
    height: 100px;
    animation-name: rb-box;
    animation-iteration-count: infinite;
    animation-duration: 59ms;
}

.rb-box-center{
    position: absolute;
    bottom: 50%;
    right: 10%;
    font-size: 50px;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width:50px;
    height: 50px;
}
.center:before, .center:after {position: absolute;left: 0px; bottom:5px ;content:' ';height: 100px;width: 10px;background-color: #000;}
.center:before {transform: rotate(90deg);}
.center:after {transform: rotate(-180deg);}

@keyframes lt-box {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes rt-box {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes lb-box {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes rb-box {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}