<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/first.css" />

    <title>Document</title>
</head>
<body>
    <div class="box-wrapper">
        <div class="left-top">
            <div class="lt-box">
                <img src="../../static/img/check.jpg" width="100px" height="100px">
            </div>
            <div class="lt-box-center">
                응급</div>
        </div>
        <div class="right-top">
            <div class="rt-box">
                <img src="../../static/img/check.jpg" width="100px" height="100px">
            </div>
            <div class="rt-box-center">
                TV</div>
        </div>
    </div>
    <div class="center">

    </div>
</body>
</html>