<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/test.css" />
    
    <title>Document</title>
</head>
<body>
    <div class="box-wrapper">
        <div class="left-top">
            <div class="lt-box"></div>
            <div class="lt-box-center">응급</div>
        </div>
        <div class="right-top">
            <div class="rt-box"></div>
            <div class="rt-box-center">TV</div>
        </div>
        <div class="left-bottom">
            <div class="lb-box"></div>
            <div class="lb-box-center">도움</div>
        </div>
        <div class="right-bottom">
            <div class="rb-box">

            </div>
            <div class="rb-box-center">뒤로가기</div>
        </div>
    </div>
    <div class="center">

    </div>
</body>
</html>