<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/test5.css"/>

    <title>Document</title>
</head>
<body>
<div class="box-wrapper">
    <div class="box-container">
        <div class="top-box">
            <div class="tl-wrapper">
                <div class="top-left">
                </div>
                <div class="tl-text">도움</div>
            </div>
            <div class="tr-wrapper">
                <div class="top-right">
                </div>
                <div class="tr-text">TV</div>

            </div>
        </div>
        <div class="bottom-box">
            <div class="bl-wrapper">
                <div class="bottom-left">
                </div>
                <div class="bl-text">A</div>
            </div>
            <div class="br-wrapper">
                <div class="bottom-right">
                </div>
                <div class="br-text">B</div>

            </div>
        </div>
    </div>
</div>
<div class="center">

</div>

</body>
</html>