<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/tv.css"/>

    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.9/brython.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/brython/3.8.9/brython_stdlib.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"
    ></script>
    <title>TV</title>
</head>
<body>
<div class="v-container">

    <video src="../static/img/tmp.mp4" class="tv-video" controls autoplay loop muted></video>
</div>
<script>
    setTimeout(() => {
        $.ajax({
            type: 'GET',
            url: 'http://127.0.0.1:5000/analysis',
            success: function (data) {
                if (data.result != 0) {
                    window.location.href = 'http://127.0.0.1:5000/rest?idx=' + data.result.idx + '&date=' + data.result.date + '&loc=home';
                }
            }
        }).catch((e) => {

        });
    }, 10);
</script>
</body>
</html>

